# Basic requirements for all
pre-commit 
black
flake8
regex

# Web scraping
requests
beautifulsoup4

# Data science
scikit-learn
gensim
spacy
spacy-lookups-data

# DB and data
pymongo
pandas

# Other
Jupyter